{% extends "components/base.html" %}

{% block content %}

  <div class="row">
    <div class="col s12 m12 l12">
      <h3>Você deseja deletar o usuário  "{{ object.first_name }}" ?</h3>
      <form method="post" action="">
        {% csrf_token %}
        <br>
        <div class="row">
          <a class="btn red" href="{% url 'users:list' %}">
            <i class="fa fa-fw fa-ban" aria-hidden="true"></i> Cancelar
          </a>
          <button type="submit" value="" class="btn green" >
            <i class="fa fa-fw fa-trash" aria-hidden="true"></i> Deletar
          </button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
