{% extends "components/base.html" %}

{% block content %}

<div class="row">
  <h1 class="page-header">{{object.name}} </h1>
</div>

<div class="row">
</div>


<div class="row">
  <div class="col-md-4">
    <dl>
      <dt>Nome:</dt>
      <dd>{{object.name}} </dd>
    </dl>
    <dl>
      <dt>CPF:</dt>
      <dd>{{object.cpf}} </dd>
    </dl>
    <dl>
      <dt>Email:</dt>
      <dd>{{object.email}} </dd>
    </dl>
    <dl>
      <dt>Rg:</dt>
      <dd>{{object.rg}} </dd>
    </dl>
    <dl>
      <dt>Fone:</dt>
      <dd>{{object.fone}} </dd>
    </dl>
    <dl>
      <dt>Email:</dt>
      <dd>{{object.email}} </dd>
    </dl>
    <dl>
      <dt>Nascimento:</dt>
      <dd>{{object.brith | date:'d/m/Y'}} </dd>
    </dl>
    <dl>
      <dt>Cidade:</dt>
      <dd>{{object.cidade}} </dd>
    </dl>
    <dl>
      <dt>Bairro:</dt>
      <dd>{{object.bairro}} </dd>
    </dl>
    <dl>
      <dt>Rua:</dt>
      <dd>{{object.rua}} </dd>
    </dl>
    <dl>
      <dt>Número:</dt>
      <dd>{{object.numero}} </dd>
    </dl>
    <dl>
      <dt>CEP:</dt>
      <dd>{{object.cep}} </dd>
    </dl>
    <dl>
      <dt>Observações:</dt>
      <dd>{{object.observation}} </dd>
    </dl>

  </div>

  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">Viagens</div>

      <table class="table table-condensed table-hover" id='table_service'>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Destino</th>
            <th>Poltrona</th>
            <th>Hotel</th>
            <th>Quarto</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for p in object.client_package.all %}
          <tr>
            <td>{{p.package.name}}</td>
            <td>{{p.package.destiny}}</td>
            <td>{{p.chair}}</td>
            <td>{{p.hotel}}</td>
            <td>{{p.get_room_display}}</td>
            <td>
              <div class="btn-group btn-group-sm" role="group" aria-label="...">
                <a href='{{p.package.get_absolute_url}}' class="btn btn-default">
                  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </a>
                {% if p.contract %}
                <a href='{{p.contract.url}}' class="btn btn-default">
                  <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                </a>
                {% endif %}
              </div>
            </td>
          </tr>
          {% empty %}
            <tr>
              <td colspan="4"> Sem Cadastros</td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
      </table>
      <div class="panel-footer">
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_js %}

{% endblock %}
