{% extends "components/base.html" %}

{% block content %}

  <div class="row">
    <div class="col l12 m12 s12">
      <div class="table-responsive">
        <table class="table table-striped responsive-table">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Email</th>
              <th>Status</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
              {% for u in users %}
              <tr>
                <td><a href="#">{{u.first_name}}</a></td>
                <td>{{u.email}}</a></td>
                <td>
                  {% if u.is_active %}Ativo {% else %} Inativo{% endif %}
                </td>
                <td>
                  <div class="btn-group btn-group-sm" role="group" aria-label="...">
                  <a href="#" class="btn">
                    <i class="material-icons">remove_red_eye</i>
                  </a>
                  <a href="{% url 'users:edit' u.id %}" class="btn yellow">
                    <i class="material-icons">mode_edit</i>
                  </a>
                  <a href="{% url 'users:delete' u.id %}" class="btn red">
                    <i class="material-icons">clear</i>
                  </a>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">

  {% if is_paginated %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="waves-effect" ><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
      {% else %}
        <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
      {% endif %}
        <li class="">
            <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
        </li>
      {% if page_obj.has_next %}
          <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
      {% else %}
        <li class="waves-effect"><a href="#"><i class="material-icons">chevron_right</i></a></li>
      {% endif %}
    </ul>
  {% endif %}
  </div>


  <div class="fixed-action-btn click-to-toggle" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light pink" href="{% url 'users:new'%}"><i class="material-icons">add</i></a>
  </div>


{% endblock %}


{% block extra_js %}

  <script>

    $('.datepicker').pickadate({
       selectMonths: true, // Creates a dropdown to control month
       selectYears: 15, // Creates a dropdown of 15 years to control year,
       today: 'Today',
       clear: 'Clear',
       close: 'Ok',
       closeOnSelect: false, // Close upon selecting a date,
       format: 'dd/mm/yyyy',
     });
  </script>

{% endblock %}
