{% extends "components/base.html" %}

{% block content %}

<div class="row">
  <h1 class="page-header">{{object.history}} </h1>
</div>

<div class="row">
</div>


<div class="row">
  <div class="col-md-4">
    <dl>
      <dt>Pacote:</dt>
      <dd>{{object.package}} </dd>
    </dl>
    <dl>
      <dt>Histórico:</dt>
      <dd>{{object.history}} </dd>
    </dl>
    <dl>
      <dt>Tipo:</dt>
      <dd>{{object.get_kind_display}} </dd>
    </dl>
    <dl>
      <dt>Vencimento:</dt>
      <dd>
        {{object.date | date:'d/m/Y'}}
        {% if object.is_past_due and object.kind == 'RE' %}
          <span class="glyphicon glyphicon-minus-sign" style="color:red;" aria-hidden="true"></span>
        {% endif %}
      </dd>
    </dl>

    <dl>
      <dt>Observações:</dt>
      <dd>{{object.observation}} </dd>
    </dl>



  </div>

  <div class="col-md-8">
  </div>
</div>

{% endblock %}

{% block extra_js %}

{% endblock %}
