{% extends "components/base.html" %}

{% block content %}


  <div class="row">
    <form action="" method="get">
      <div class="row">
        {% for field in form_search %}
          <div class="input-field col s12 m2 l3">
            {{field}}
            <label for="{{field.auto_id}}">{{field.label}}</label>
          </div>
        {% endfor %}
      </div>
      <div class="input-field col s12 m2 l3">
        <button type="submit" class="btn green">
          <i class="fa fa-fw fa-search-o" aria-hidden="true"></i> Buscar
        </button>
      </div>
    </form>
  </div>


  <div class="row">
    <div class="col l12 m12 s12">

      <div class="row">
        <div class="table-responsive">
          <table class="table table-striped responsive-table">
            <thead>
              <tr>
                <th>Descrição</th>
                <th>Tipo</th>
                <th>Data</th>
                <th>Valor</th>
                <th>Estado</th>
                <th>Ações</th>
              </tr>
            </thead>
              <tbody>
                {% for m in movements %}
                <tr class="{{m.class_table}}">
                  <td>{{m.history}}</td>
                  <td>{{m.get_kind_display}}</td>
                  <td>{{m.date|date:"d/M/Y"}}</td>
                  <td>R$ {{m.value}}</td>
                  <td></td>
                  <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                    {% comment %}
                      <a href="{% url 'cash:detail' m.id %}" class="btn">
                        <i class="material-icons">remove_red_eye</i>
                      </a>
                    {% endcomment %}
                    <a href="{% url 'cash:edit' m.id %}" class="btn yellow">
                      <i class="material-icons">mode_edit</i>
                    </a>
                    <a href="{% url 'cash:delete' m.id %}" class="btn red">
                      <i class="material-icons">clear</i>
                    </a>
                    </div>
                  </td>
                </tr>
                {% endfor %}
                <tr>
                  <td colspan="3">Total</td>
                  <td>R$ {{balance}}</td>
                  <td colspan="2"></td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
      {{context}}
    </div>
  </div>


  <div class="fixed-action-btn click-to-toggle" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light pink" href="/caixa/novo/"><i class="material-icons">add</i></a>
  </div>

{% endblock %}

{% block extra_js %}

  <script>
    $(document).ready(function() {
    });

    $('.datepicker').pickadate({
       selectMonths: true, // Creates a dropdown to control month
       selectYears: 15, // Creates a dropdown of 15 years to control year,
       today: 'Today',
       clear: 'Clear',
       close: 'Ok',
       closeOnSelect: false, // Close upon selecting a date,
       format: 'dd/mm/yyyy',
     });
  </script>

{% endblock %}
