{% extends "components/base.html" %}

{% block content %}

<div class="row">
</div>


<div class="row">
  <div class="col s12 m12 l6">
    <ul class="collection z-depth-1">
    <li class="collection-item">
      <div class="row">
        <div class="col s5 grey-text darken-1"><i class="material-icons">assignment_ind</i> Nome</div>
        <div class="col s7 grey-text text-darken-4 right-align">{{object.name}}</div>
      </div>
    </li>
    <li class="collection-item">
      <div class="row">
        <div class="col s5 grey-text darken-1"><i class="material-icons">contact_mail</i> Email</div>
        <div class="col s7 grey-text text-darken-4 right-align">{{object.email}}</div>
      </div>
    </li>
    <li class="collection-item">
      <div class="row">
        <div class="col s5 grey-text darken-1"><i class="material-icons">contact_phone</i> Telefone</div>
        <div class="col s7 grey-text text-darken-4 right-align">{{object.fone}}</div>
      </div>
    </li>
    <li class="collection-item">
      <div class="row">
        <div class="col s5 grey-text darken-1"><i class="material-icons">location_city</i> Cidade</div>
        <div class="col s7 grey-text text-darken-4 right-align">{{object.cidade}}</div>
      </div>
    </li>


  </ul>
  </div>

  <div class="col s12 m12 l6">
    <div class="panel panel-primary">
      <h4>Locações</h4>

      <table class="table table-condensed table-hover" id='table_service'>
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Outdoor</th>
            <th>Inicio</th>
            <th>Fim</th>
          </tr>
        </thead>
        <tbody>
          {% for l in object.agency_location.all %}
          <tr>
            <td><a href="{% url 'client:detail' l.client.id %}">{{l.client.name}}</a></td>
            <td><a href="{% url 'outdoor:detail' l.outdoor.id %}">{{l.outdoor.code}}</a></td>
            <td>{{l.start|date:"d/m/y"}}</td>
            <td>{{l.end|date:"d/m/y"}}</td>
          </tr>
          {% empty %}
            <tr>
              <td colspan="4"> Sem Cadastros</td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
      </table>
      <div class="panel-footer">
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_js %}

{% endblock %}
