{% extends "components/base.html" %}

{% block content %}

<div class="row">
  <div class="col s12 m8 l6">
    <form method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}
        <div class="row">
          {% if field.field.widget.input_type == 'file' %}
            <div class="file-field input-field col s12 m12 l6 col">
              <div class="btn">
                <span>{{field.label}}</span>
                {{field}}
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          {% elif field.field.widget.input_type == 'checkbox' %}
            <div class="col s12 m12 l6">
              {{field}}
              <label for="{{field.auto_id}}">
                {{field.label}}
              </label>
            </div>
          {% else %}
            <div class="input-field col s12 m12 l12">
              {{field}}
              <label for="email" data-error="wrong" data-success="right">
                {{field.label}}
              </label>
            </div>
          {% endif %}

          {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
          {% endif %}
        </div>
      {% endfor%}

      <div class="row">
        <div class="input-field col s12 m12 l12">
        <a class="btn red" href="{% url 'agency:list' %}">
          <i class="fa fa-fw fa-ban" aria-hidden="true"></i> Cancelar
        </a>
        <button type="submit" class="btn green">
          <i class="fa fa-fw fa-floppy-o" aria-hidden="true"></i> Salvar
        </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block extra_js %}

  <script>
    $('.datepicker').pickadate({
      min: new Date(),
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15, // Creates a dropdown of 15 years to control year,
      today: 'Today',
      clear: 'Clear',
      close: 'Ok',
      closeOnSelect: false, // Close upon selecting a date,
      format: 'dd/mm/yyyy',
     });
  </script>

{% endblock %}
