{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Materialize is a modern responsive CSS framework based on Material Design by Google. ">
    <title>Floriano Outdoor</title>
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">
    <!-- CSS-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/prism.css' %}" rel="stylesheet">
    <link href="{% static 'css/ghpages-materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" />
    <style media="screen">
      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }
      main {
        flex: 1 0 auto;
      }
    </style>
  </head>
  <body>
    <header>
      <div class="container">
        <a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only">
          <i class="material-icons">menu</i>
        </a>
      </div>

      <ul id="nav-mobile" class="side-nav fixed">
        <li class="logo">
          <a id="logo-container" href="/" class="brand-logo">
            <img style="margin-top: 5%;" width="150" height="100" src="{% static 'img/logo_h.jpg'%}" class="responsive-img" />
          </a>
        </li>

        <li><a class="waves-effect" href="/"><b>Dashboard</b></a></li>
        <li><a class="waves-effect" href="/clientes/"><b>Clientes</b></a></li>
        <li><a class="waves-effect" href="/agencias/"><b>Agências</b></a></li>
        <li><a class="waves-effect" href="/outdoors/"><b>Outdoors</b></a></li>
        <li><a class="waves-effect" href="/reservas/"><b>Reservas</b></a></li>
        <li><a class="waves-effect" href="/locacao/"><b>Locações</b></a></li>
        <li><a class="waves-effect" href="/caixa/?received=N"><b>Caixa</b></a></li>
        <li><a class="waves-effect" href="/usuarios/"><b>Usuários</b></a></li>
        <li><a class="waves-effect modal-trigger" href="#modal1"><b>Email</b></a></li>
      </ul>

    </header>
    <main>

      <ul id="dropdown1" class="dropdown-content">
        <li><a class="indigo-text" href="#!">Profile</a></li>
        <li class="divider"></li>
        <li><a class="indigo-text" href="{% url 'core:logout' %}">Logout</a></li>
      </ul>

      <nav class='indigo'>
        <div class="nav-wrapper">
          <div class="row">
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{request.user.first_name}}</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li><a class="waves-effect" href="/"><b>Dashboard</b></a></li>
              <li><a class="waves-effect" href="/clientes/"><b>Clientes</b></a></li>
              <li><a class="waves-effect" href="/agencias/"><b>Agências</b></a></li>
              <li><a class="waves-effect" href="/outdoors/"><b>Outdoors</b></a></li>
              <li><a class="waves-effect" href="/reservas/"><b>Reservas</b></a></li>
              <li><a class="waves-effect" href="/locacao/"><b>Locações</b></a></li>
              <li><a class="waves-effect" href="caixa/?received=N"><b>Caixa</b></a></li>
              <li><a class="waves-effect" href="/usuarios/"><b>Usuários</b></a></li>
              <li><a class="waves-effect modal-trigger" href="#modal1"><b>Email</b></a></li>
            </ul>
          </div>
        </div>
      </nav>



      <div class="">
        <!--  Outer row  -->
        <div class="row">

          <div class="col s12 m12 l12" id='content1'>

            {% block content %}{% endblock %}

          </div>

        </div>
      </div> <!-- End Container -->

    </main>

    <footer class="page-footer indigo">
      <div class="container">
        <div class="row">
          <div class="col l4 s12">
          </div>
          <div class="col l4 s12">
          </div>
          <div class="col l4 s12" style="overflow: hidden;">
          </div>
        </div>
      </div>
      <div class="footer-copyright indigo darken-2">
        <div class="container">

        </div>
      </div>
    </footer>

    <div id="modal1" class="modal modal-fixed-footer">
      <div class="modal-content">
        <form id="form_email" enctype="multipart/form-data"
          action="{% url 'outdoor:email-send' %}" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="input-field col s12 m6 ">
              <input id="title" type="text" name="titulo" class="">
              <label for="title">Título</label>
            </div>
            <input id="ids" name="ids" type="hidden" value="{% for o in request.session.email  %}{{o.id}},{% endfor %}">
          </div>
          <div class="row">
            <div class="input-field col s12 m6">
              <input id="email" type="text" name="email" class="autocomplete" autocomplete="off" >
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="col m6 s12">
              <input type="checkbox" id='orcamento' name="orcamento"/>
              <label for="orcamento">
                <span>Orcamento</span>
              </label>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="texto" name="texto" class="materialize-textarea"></textarea>
              <label for="texto">Texto</label>
            </div>
          </div>
          <div class="row">
            <ul class="collection">
              {% for o in request.session.email  %}
                <li class="collection-item avatar">
                  <img src="{{o.image}}" alt="" class="circle">
                  <span class="title">{{o.code}}</span>
                  <p>
                    <div class="input-field">
                      <input id="price-{{o.id}}" type="text" name="price-{{o.id}}" class="price">
                      <label for="price-{{o.id}}">Preço {{o.code}}</label>
                    </div>
                  </p>
                  <a href="{% url 'outdoor:email-clear-one' o.id %}" class="secondary-content">
                    <i class="material-icons">close</i>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col s12 m4 l4">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
          </div>
          <div class="col s12 m4 l4">
            <a href="{% url 'outdoor:email-clear'%}" class="modal-action modal-close waves-effect waves-green btn-flat">Limpar</a>
          </div>
          <div class="col s12 m4 l4">
            <button href="#" class="waves-effect waves-green btn-flat" id="btn_form_email">Enviar</button>
          </div>
      </div>
    </div>

    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

    {% block extra_js %}

    {% endblock %}

    <script>

      $(function(){
        $('.button-collapse').sideNav();
        $('.collapsible').collapsible();
        $('.tooltipped').tooltip({delay: 50});
        $('select').material_select();
        $('#modal1').modal();


        {% if messages %}
          {% for message in messages %}
             Materialize.toast('{{message}}', 6000);
          {% endfor %}
        {% endif %}

      });

      $('.modal-trigger').on('click', function() {
        $('#modal1').modal('open');
        $('#orcamento').trigger('change');
      });

      $( "#btn_form_email" ).on('click', function( event ) {
        event.preventDefault();
        $("#form_email").submit();
      });

      $('#orcamento').change(function(event){
        event.preventDefault();
       //$(document).on( "change", "#orcamento", function() {
        if ($('#orcamento').is(":checked")) {
          $('ul .input-field').show();
        } else {
          $('.price').val('');
          $('ul .input-field').hide();
        }
      });

    </script>

  </body>
</html>
