
<nav>
  <div class="nav-wrapper indigo darken-2">
    <a style="margin-left: 20px;" class="breadcrumb" href="{{link_list}}">{{list}}</a>
    <a class="breadcrumb" href="#">{{title}}</a>
    <div style="margin-right: 20px;" id="timestamp" class="right"></div>
  </div>
</nav>
