{% extends "components/base.html" %}

{% block content %}


<div class="row">
  <div class="col s12 m12 l6">

    <ul class="collection z-depth-1">
      <li class="collection-item">
        <div class="row">
          <div class="col s5 grey-text darken-1"><i class="material-icons">assignment_ind</i> Cliente</div>
          <div class="col s7 grey-text text-darken-4 right-align">{{object.client.name}}</div>
        </div>
      </li>

      <li class="collection-item">
        <div class="row">
          <div class="col s5 grey-text darken-1"><i class="material-icons">date_range</i> Período</div>
          <div class="col s7 grey-text text-darken-4 right-align"><td>{{object.start|date:"d/m/y"}} - {{object.end|date:"d/m/y"}}</td></div>
        </div>
      </li>
      <li class="collection-item">
        <div class="row">
          <div class="col s5 grey-text darken-1"><i class="material-icons">location_city</i> Agencia</div>
          <div class="col s7 grey-text text-darken-4 right-align">{{object.agency.name}}</div>
        </div>
      </li>

    </ul>


  </div>

  <div class="col s12 m12 l6">
    <div class="card">
      <div class="card-image">
        <img src="{% if object.outdoor.image %}{{object.outdoor.image.url}}{% else %}/static/img/outdoor.png{% endif %}">
        <span class="card-title">{{object.outdoor.code}}</span>
      </div>
      <div class="card-content">
        <p><b>Cidade:</b> {{object.outdoor.cidade}}</p>
        <p><b>Bairro:</b> {{object.outdoor.bairro}}</p>
        <p><b>Referencia:</b> {{object.outdoor.referencia}}</p>
      </div>
      <div class="card-action">
        {# <a href="#">This is a link</a>#}
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_js %}

{% endblock %}
