{% extends "components/base.html" %}

{% load outdoor_tags %}

{% block content %}

  <div class="row">
    <form action="" method="get">
      <div class="row">
        {% for field in form_search %}
          <div class="input-field col s12 m3 l4">
            {{field}}
            <label for="{{field.auto_id}}">{{field.label}}</label>
          </div>
        {% endfor %}
      </div>
      <div class="input-field col s12 m3 l4">
        <button type="submit" class="btn green">
          <i class="fa fa-fw fa-search-o" aria-hidden="true"></i> Buscar
        </button>
      </div>
    </form>
  </div>


  <div class="row">
    <div class="col l12 m12 s12">
      <div class="table-responsive">
        <table class="table table-striped responsive-table">
          <thead>
            <tr>
              <th>Cliente</th>
              <th>Agência</th>
              <th>Outdoor</th>
              <th>Inicio</th>
              <th>Fim</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
              {% for l in reserves %}
              <tr>
                <td><a href="{% url 'client:detail' l.client.id %}">{{l.client.name}}</a></td>
                <td><a href="{% url 'agency:detail' l.agency.id %}">{{l.agency.name}}</a></td>
                <td><a href="{% url 'outdoor:detail' l.outdoor.id %}">{{l.outdoor.code}}</a></td>
                <td>{{l.start|date:"d/m/y"}}</td>
                <td>{{l.end|date:"d/m/y"}}</td>
                <td>
                  <div class="btn-group btn-group-sm" role="group" aria-label="...">
                  <a href="{% url 'reserve:detail' l.id %}" class="btn">
                    <i class="material-icons">remove_red_eye</i>
                  </a>
                  <a href="{% url 'reserve:edit' l.id %}" class="btn yellow">
                    <i class="material-icons">mode_edit</i>
                  </a>
                  <a href="{% url 'reserve:delete' l.id %}" class="btn red">
                    <i class="material-icons">clear</i>
                  </a>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">

  {% if is_paginated %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="waves-effect" ><a href="?{% url_replace page=page_obj.previous_page_number %}"><i class="material-icons">chevron_left</i></a></li>
      {% else %}
        <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
      {% endif %}

        <li class="">
            <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
        </li>

      {% if page_obj.has_next %}
          <li class="waves-effect"><a href="?{% url_replace page=page_obj.next_page_number %}"><i class="material-icons">chevron_right</i></a></li>
      {% else %}
        <li class="waves-effect"><a href="#"><i class="material-icons">chevron_right</i></a></li>
      {% endif %}
    </ul>
  {% endif %}
  </div>


  <div class="fixed-action-btn click-to-toggle" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light pink" href="{% url 'reserve:new'%}"><i class="material-icons">add</i></a>
  </div>

  {% comment %}


  <div class="fixed-action-btn click-to-toggle" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large pink waves-effect waves-light">
      <i class="large material-icons">add</i>
    </a>

    <ul>
      <li>
        <a class="btn-floating red"><i class="material-icons">note_add</i></a>
        <a href="" class="btn-floating fab-tip">Add a note</a>
      </li>

      <li>
        <a class="btn-floating yellow darken-1"><i class="material-icons">add_a_photo</i></a>
        <a href="" class="btn-floating fab-tip">Add a photo</a>
      </li>

      <li>
        <a class="btn-floating green"><i class="material-icons">alarm_add</i></a>
        <a href="" class="btn-floating fab-tip">Add an alarm</a>
      </li>

      <li>
        <a class="btn-floating blue"><i class="material-icons">vpn_key</i></a>
        <a href="" class="btn-floating fab-tip">Add a master password</a>
      </li>
    </ul>
  </div>

  {% endcomment %}
{% endblock %}


{% block extra_js %}

  <script>
    $(document).ready(function() {
    });

    $('.datepicker').pickadate({
       selectMonths: true, // Creates a dropdown to control month
       selectYears: 15, // Creates a dropdown of 15 years to control year,
       today: 'Today',
       clear: 'Clear',
       close: 'Ok',
       closeOnSelect: false, // Close upon selecting a date,
       format: 'dd/mm/yyyy',
     });
  </script>

{% endblock %}
