{% extends "components/base.html" %}

{% block content %}


<div class="row">
  <div class="col s12 m12 l6">

    <ul class="collection z-depth-1">
      <li class="collection-item">
        <div class="row">
          <div class="col s5 grey-text darken-1"><i class="material-icons">assignment_ind</i> Nome</div>
          <div class="col s7 grey-text text-darken-4 right-align">{{object.name}}</div>
        </div>
      </li>
      <li class="collection-item">
        <div class="row">
          <div class="col s5 grey-text darken-1"><i class="material-icons">assignment_ind</i> CPF</div>
          <div class="col s7 grey-text text-darken-4 right-align">{{object.cpf}}</div>
        </div>
      </li>
      <li class="collection-item">
        <div class="row">
          <div class="col s5 grey-text darken-1"><i class="material-icons">assignment_ind</i> RG</div>
          <div class="col s7 grey-text text-darken-4 right-align">{{object.rg}}</div>
        </div>
      </li>
      <li class="collection-item">
        <div class="row">
          <div class="col s5 grey-text darken-1"><i class="material-icons">contact_mail</i> Email</div>
          <div class="col s7 grey-text text-darken-4 right-align">{{object.email}}</div>
        </div>
      </li>
      <li class="collection-item">
        <div class="row">
          <div class="col s5 grey-text darken-1"><i class="material-icons">contact_phone</i> Telefone</div>
          <div class="col s7 grey-text text-darken-4 right-align">{{object.fone}}</div>
        </div>
      </li>
      <li class="collection-item">
        <div class="row">
          <div class="col s5 grey-text darken-1"><i class="material-icons">date_range</i> Nascimento</div>
          <div class="col s7 grey-text text-darken-4 right-align">{{object.brith | date:'d/m/Y'}} </div>
        </div>
      </li>
      <li class="collection-item">
        <div class="row">
          <div class="col s5 grey-text darken-1"><i class="material-icons">location_city</i> Cidade</div>
          <div class="col s7 grey-text text-darken-4 right-align">{{object.cidade}}</div>
        </div>
      </li>
      <li class="collection-item">
        <div class="row">
          <div class="col s5 grey-text darken-1"><i class="material-icons">location_city</i> Bairro</div>
          <div class="col s7 grey-text text-darken-4 right-align">{{object.bairro}}</div>
        </div>
      </li>
      <li class="collection-item">
        <div class="row">
          <div class="col s5 grey-text darken-1"><i class="material-icons">location_city</i> Rua</div>
          <div class="col s7 grey-text text-darken-4 right-align">{{object.rua}}</div>
        </div>
      </li>
      <li class="collection-item">
        <div class="row">
          <div class="col s5 grey-text darken-1"><i class="material-icons">location_city</i> Numero</div>
          <div class="col s7 grey-text text-darken-4 right-align">{{object.numero}}</div>
        </div>
      </li>
      <li class="collection-item">
        <div class="row valign-wrappe">
          <div class="col s5 grey-text darken-1"><i class="material-icons">location_city</i> CEP</div>
          <div class="col s7 grey-text text-darken-4 right-align">{{object.cep}}</div>
        </div>
      </li>

      <li class="collection-item">
        <div class="row">
          <div class="col s5 grey-text darken-1"><i class="material-icons">event_note</i> Observação</div>
          <div class="col s7 grey-text text-darken-4 right-align">{{object.observation}}</div>
        </div>
      </li>


    </ul>


  </div>

  <div class="col s12 m12 l6">
      <h4>Locações</h4>

      <table class="table table-condensed table-hover" id='table_service'>
        <thead>
          <tr>
            <th>Agência</th>
            <th>Outdoor</th>
            <th>Inicio</th>
            <th>Fim</th>
          </tr>
        </thead>
        <tbody>
          {% for l in object.client_location.all %}
          <tr>
            <td><a href="{% url 'agency:detail' l.agency.id %}">{{l.agency.name}}</a></td>
            <td><a href="{% url 'outdoor:detail' l.outdoor.id %}">{{l.outdoor.code}}</a></td>
            <td>{{l.start|date:"d/m/y"}}</td>
            <td>{{l.end|date:"d/m/y"}}</td>
          </tr>
          {% empty %}
            <tr>
              <td colspan="4"> Sem Cadastros</td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
      </table>

      <h5>Reservas</h5>
      <table class="table table-condensed table-hover" id='table_service'>
        <thead>
          <tr>
            <th>Agência</th>
            <th>Outdoor</th>
            <th>Periodo</th>
          </tr>
        </thead>
        <tbody>
          {% for loc in  object.client_reserve.all|slice:":10" %}
          <tr>
            <td>{{loc.agency.name}}</td>
            <td>{{loc.outdoor.code}}</td>
            <td>{{loc.start|date:"d/m/y"}} - {{loc.end|date:"d/m/y"}}</td>
          </td>
          {% endfor %}

        </tbody>
        <tfoot>
        </tfoot>
      </table>
  </div>
</div>

{% endblock %}

{% block extra_js %}

{% endblock %}
