{% extends "components/base.html" %}

{% block content %}

  <div class="row">
    <form action="" method="get">
      <div class="row">
        {% for field in form_search %}
          <div class="input-field col s12 m3 l4">
            {{field}}
            <label for="{{field.auto_id}}">{{field.label}}</label>
          </div>
        {% endfor %}
      </div>
      <div class="input-field col s12 m2 l3">
        <button type="submit" class="btn green">
          <i class="fa fa-fw fa-search-o" aria-hidden="true"></i> Buscar
        </button>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col l12 m12 s12">

      <div class="row">
        <div class="table-responsive">
          <table class="table table-striped responsive-table">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>telefone</th>
                <th>Ações</th>
              </tr>
            </thead>
              <tbody>
                {% for c in clients %}
                <tr>
                  <td><a href='#'>{{c.name}}</a></td>
                  <td>{{c.email}}</td>
                  <td>{{c.fone}}</td>
                  <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                    <a href="{% url 'client:detail' c.id %}" class="btn">
                      <i class="material-icons">remove_red_eye</i>
                    </a>
                    <a href="{% url 'client:edit' c.id %}" class="btn yellow">
                      <i class="material-icons">mode_edit</i>
                    </a>
                    <a href="{% url 'client:delete' c.id %}" class="btn red">
                      <i class="material-icons">clear</i>
                    </a>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

  <div class="row">

    {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="waves-effect" ><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
        {% else %}
          <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
        {% endif %}
          <li class="">
              <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
          </li>
        {% if page_obj.has_next %}
            <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
        {% else %}
          <li class="waves-effect"><a href="#"><i class="material-icons">chevron_right</i></a></li>
        {% endif %}
      </ul>
    {% endif %}
  </div>

  <div class="fixed-action-btn click-to-toggle" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light pink" href="/clientes/novo/"><i class="material-icons">add</i></a>
  </div>

{% endblock %}
