{% extends "components/base.html" %}

{% block content %}

<div class="row">
  <h1 class="page-header">{{object.name}} </h1>
</div>


<div class="row">
  <div class="col s12">
    <div class="row">

      <div class="col s12 m12 l6">
        <div class="card">
          <div class="card-image">
            <img src="{% if object.image %}{{object.image.url}}{% else %}/static/img/outdoor.png{% endif %}">
            <span class="card-title">{{object.code}}</span>
          </div>
          <div class="card-content">
            <p><b>Cidade:</b> {{object.cidade}}</p>
            <p><b>Bairro:</b> {{object.bairro}}</p>
            <p><b>Referencia:</b> {{object.referencia}}</p>
          </div>
          <div class="card-action">
            {# <a href="#">This is a link</a>#}
          </div>
        </div>
      </div>

      <div class="col s12 m12 l6">
        <h5>Locações</h5>
        <table class="table table-condensed table-hover" id='table_service'>
            <thead>
              <tr>
                <th>Cliente</th>
                <th>Agência</th>
                <th>Periodo</th>
              </tr>
            </thead>
            <tbody>
              {% for loc in  locations %}
              <tr>
                <td>{{loc.client.name}}</td>
                <td>{{loc.agency.name}}</td>
                <td>{{loc.start|date:"d/m/y"}} - {{loc.end|date:"d/m/y"}}</td>
              </td>
              {% endfor %}
            </tbody>
            <tfoot>
              <div class="row">
                {% if locations.has_other_pages %}
                <ul class="pagination">
                  {% if locations.has_previous %}
                    <li class="waves-effect" ><a href="?page_l={{ locations.previous_page_number }}&page_r={{ reserves.number }}"><i class="material-icons">chevron_left</i></a></li>
                  {% else %}
                    <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
                  {% endif %}
                    <li class="">
                        <span>Página {{ locations.number }} de {{ locations.paginator.num_pages }}.</span>
                    </li>
                  {% if locations.has_next %}
                      <li class="waves-effect"><a href="?page_l={{ locations.next_page_number }}&page_r={{ reserves.number }}"><i class="material-icons">chevron_right</i></a></li>
                  {% else %}
                    <li class="waves-effect"><a href="#"><i class="material-icons">chevron_right</i></a></li>
                  {% endif %}
                </ul>
                {% endif %}
              </div>
            </tfoot>
          </table>
          <h5>Reservas</h5>
          <table class="table table-condensed table-hover" id='table_service'>
            <thead>
              <tr>
                <th>Agência</th>
                <th>Cliente</th>
                <th>Periodo</th>
              </tr>
            </thead>
            <tbody>
              {% for res in  reserves %}
              <tr>
                <td>{{res.agency.name}}</td>
                <td>{{res.client.name}}</td>
                <td>{{res.start|date:"d/m/y"}} - {{loc.end|date:"d/m/y"}}</td>
              </td>
              {% endfor %}

            </tbody>
            <tfoot>
              <div class="row">
                {% if reserves.has_other_pages %}
                  <ul class="pagination">
                    {% if reserves.has_previous %}
                      <li class="waves-effect" ><a href="?page_r={{ reserves.previous_page_number }}&page_l={{ locations.number }}"><i class="material-icons">chevron_left</i></a></li>
                    {% else %}
                      <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
                    {% endif %}
                      <li class="">
                          <span>Página {{ reserves.number }} de {{ reserves.paginator.num_pages }}.</span>
                      </li>
                    {% if reserves.has_next %}
                        <li class="waves-effect"><a href="?page_r={{ reserves.next_page_number }}&page_l={{ locations.number }}"><i class="material-icons">chevron_right</i></a></li>
                    {% else %}
                      <li class="waves-effect"><a href="#"><i class="material-icons">chevron_right</i></a></li>
                    {% endif %}
                  </ul>
                {% endif %}
              </div>
            </tfoot>
          </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_js %}

{% endblock %}
