{% extends "components/base.html" %}

{% load outdoor_tags %}

{% block content %}

  <div class="row">
  <div class="col l12 m12 s12">
    <div class="row">
      <form action="" method="get">
        <div class="row">
          {% for field in form_search %}
            <div class="input-field col s12 m3 l4">
              {{field}}
              <label for="{{field.auto_id}}">{{field.label}}</label>
            </div>
          {% endfor %}
        </div>
        <div class="input-field col s12 m2 l3">
          <button type="submit" class="btn green">
            <i class="fa fa-fw fa-search-o" aria-hidden="true"></i> Buscar
          </button>
        </div>
      </form>
    </div>

    <div class="row">
      {% for out in outdoors  %}
        <div class="col l4 m6 s12">
          <div class="card z-depth-2 sticky-action">
            <div class="card-image">
              <img src="{% if out.image %}{{out.image.crop.340x185.url}}{% else %}/static/img/outdoor.png{% endif %}">
              <span class="black-text card-title text-darken-2"></span>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{out.code}}<i class="material-icons right">more_vert</i>
              </span>

              <div class="row">
                <div class="col m5">
                  {% if out.is_rent %}
                    <p><span class="white-text badge red" >Locado</span></p>
                  {% else %}
                    <p><span class="white-text badge green" >Dísponivel</span></p>
                  {% endif %}
                </div>
                <div class="col m5">
                  {% if out.is_reserved %}
                    <p><span class="white-text badge blue" style="right: 80px;">Reservado</span></p>
                  {% endif %}
                </div>
              </div>

            </div>
            <div class="card-action">
              <a class="waves-effect waves-light tooltipped" href="{% url 'outdoor:detail' out.id %}"
                data-position="bottom" data-delay="50" data-tooltip="Ver"
              >
                <i class="material-icons">remove_red_eye</i>
              </a>
              <a class="waves-effect waves-light tooltipped" href="{% url 'outdoor:edit' out.id %}"
                data-position="bottom" data-delay="50" data-tooltip="Editar">
                  <i class="material-icons">create</i>
              </a>
              {% if not out.is_rent %}
              <a class="waves-effect waves-light tooltipped" href="{% url 'outdoor:locar' out.id %}" data-position="bottom" data-delay="50" data-tooltip="Locar">
                <i class="material-icons">event</i>
              </a>
              {% endif %}
              <a class="waves-effect waves-light tooltipped" href="{% url 'outdoor:reserva' out.id %}" data-position="bottom" data-delay="50" data-tooltip="Reservar">
                <i class="material-icons">event_note</i>
              </a>
              <a class="waves-effect waves-light tooltipped" href="{% url 'outdoor:email' out.id %}"
                data-position="bottom" data-delay="50" data-tooltip="Email">
                <i class="material-icons">mail</i>
              </a>
              <a class="waves-effect waves-light tooltipped" href="{% url 'outdoor:delete' out.id %}"
                  data-position="bottom" data-delay="50" data-tooltip="Delete">
                <i class="material-icons">clear</i>
              </a>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">
                {{out.code}}
                <i class="material-icons right">close</i>
              </span>
              <p>{{out.referencia}}</p>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>

  </div>
  </div>

  <div class="row">

  {% if is_paginated %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="waves-effect" ><a href="?{% url_replace page=page_obj.previous_page_number %}"><i class="material-icons">chevron_left</i></a></li>
      {% else %}
        <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
      {% endif %}
        <li class="">
            <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
        </li>
      {% if page_obj.has_next %}
          <li class="waves-effect"><a href="?{% url_replace page=page_obj.next_page_number %}"><i class="material-icons">chevron_right</i></a></li>
      {% else %}
        <li class="waves-effect"><a href="#"><i class="material-icons">chevron_right</i></a></li>
      {% endif %}
    </ul>
  {% endif %}
  </div>


  <div class="fixed-action-btn click-to-toggle" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light pink" href="/outdoors/novo/"><i class="material-icons">add</i></a>
  </div>

  {% comment %}


  <div class="fixed-action-btn click-to-toggle" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large pink waves-effect waves-light">
      <i class="large material-icons">add</i>
    </a>

    <ul>
      <li>
        <a class="btn-floating red"><i class="material-icons">note_add</i></a>
        <a href="" class="btn-floating fab-tip">Add a note</a>
      </li>

      <li>
        <a class="btn-floating yellow darken-1"><i class="material-icons">add_a_photo</i></a>
        <a href="" class="btn-floating fab-tip">Add a photo</a>
      </li>

      <li>
        <a class="btn-floating green"><i class="material-icons">alarm_add</i></a>
        <a href="" class="btn-floating fab-tip">Add an alarm</a>
      </li>

      <li>
        <a class="btn-floating blue"><i class="material-icons">vpn_key</i></a>
        <a href="" class="btn-floating fab-tip">Add a master password</a>
      </li>
    </ul>
  </div>

  {% endcomment %}
{% endblock %}
