{% extends "components/base.html" %}

{% block content %}


  <div class="row">
    <div class="col s12 m12 s12">
      <div class="row">

        <div class="col s12 m6 l6">
          <h5>Receitas</h5>
          <table class="table table-condensed table-hover" id='table_service'>
            <thead>
              <tr>
                <th>Descrição</th>
                <th>Entrada</th>
                <th>Valor</th>
              </tr>
            </thead>
            <tbody>
              {% for m in  movements %}
              <tr>
                <td><a href="{% url 'cash:edit' m.id %}">{{m.history}}</a></td>
                <td>{{m.date|date:'d/m/y'}}</td>
                <td>{{m.value}}</td>
              </td>
              {% endfor %}
            </tbody>
            <tfoot>
            </tfoot>
          </table>
        </div>

        <div class="col s12 m6 l6">
          <h5>Próximas Reservas</h5>
          <table class="table table-condensed table-hover" id='table_service'>
            <thead>
              <tr>
                <th>Outdoor</th>
                <th>Agência</th>
                <th>Cliente</th>
                <th>Data</th>
                <th>Ativar</th>
              </tr>
            </thead>
            <tbody>
              {% for loc in reserves %}
              <tr>
                <td><a href="{% url 'outdoor:detail' loc.outdoor.id %}">{{loc.outdoor.code}}</a></td>
                <td><a href="{% url 'agency:detail' loc.agency.id %}">{{loc.agency.name}}</a></td>
                <td><a href="{% url 'client:detail' loc.client.id %}">{{loc.client.name}}</a></td>
                <td>{{loc.start|date:"d/m/y"}}</td>
                <td>
                    <a class="waves-effect waves-light btn" href="{% url 'outdoor:convert' loc.id %}">
                      <i class="material-icons">done_all</i>
                    </a>
                </td>

              </td>
              {% endfor %}

            </tbody>
            <tfoot>
            </tfoot>
          </table>
        </div>

      </div>

      <div class="row">
        <div class="col s12 m6 l6">
          <h5>Locações em vencimento</h5>
          <table class="table table-condensed table-hover" id='table_service'>
              <thead>
                <tr>
                  <th>Outdoor</th>
                  <th>Cliente</th>
                  <th>Agência</th>
                  <th>Periodo</th>
                </tr>
              </thead>
              <tbody>
                {% for loc in  locations %}
                <tr>
                  <td>
                    {% if loc.outdoor.id %}
                      <a href="{% url 'outdoor:detail' loc.outdoor.id %}">{{loc.outdoor.code}}</a>
                    {% else %}
                      <a href="#">{{loc.outdoor.code}}</a>
                    {% endif %}
                  </td>
                  <td>
                    {% if loc.client.id %}
                      <a href="{% url 'client:detail' loc.client.id %}">{{loc.client.name}}</a>
                    {% else %}
                      <a href="#">{{loc.client.name}}</a>
                    {% endif %}
                  </td>
                  <td>
                    {% if loc.agency.id %}
                      <a href="{% url 'agency:detail' loc.agency.id %}">{{loc.agency.name}}</a>
                    {% else %}
                      <a href="#">{{loc.agency.name}}</a>
                    {% endif %}
                  </td>
                  <td>{{loc.end|date:"d/m/y"}}</td>
                </td>
                {% endfor %}

              </tbody>
              <tfoot>
              </tfoot>
            </table>
        </div>
      </div>
    </div>
  </div>

  {% comment %}

  <div class="fixed-action-btn click-to-toggle" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large pink waves-effect waves-light">
      <i class="large material-icons">add</i>
    </a>

    <ul>
      <li>
        <a class="btn-floating red"><i class="material-icons">note_add</i></a>
        <a href="" class="btn-floating fab-tip">Add a note</a>
      </li>

      <li>
        <a class="btn-floating yellow darken-1"><i class="material-icons">add_a_photo</i></a>
        <a href="" class="btn-floating fab-tip">Add a photo</a>
      </li>

      <li>
        <a class="btn-floating green"><i class="material-icons">alarm_add</i></a>
        <a href="" class="btn-floating fab-tip">Add an alarm</a>
      </li>

      <li>
        <a class="btn-floating blue"><i class="material-icons">vpn_key</i></a>
        <a href="" class="btn-floating fab-tip">Add a master password</a>
      </li>
    </ul>
  </div>
  {% endcomment %}

{% endblock %}
